{% extends "base.html" %}



{% load crispy_forms_tags %}

{% block "head_title" %} New Blog {% endblock %}



{% block "main_body" %}

     <div class="container">

                <div class="pagetitle"><h4>New Blog</h4></div>


      </div>

<div class="col-md-8">

<form method="post" novalidate>
    {% csrf_token %}
     {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Create Blog</button>
</form>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
</div>




{% endblock %}

{% block "main_search" %}&nbsp;{% endblock %}