{% extends "base.html" %}


{% block "main_body" %}

       <!-- Blog Entries Column -->
        <div class="col-md-8">
          <h1 class="my-4">Blog Plattform
            <small>Write & Share your Knowledge</small>
          </h1>

    {% for post in posts %}
             <!-- Blog Post -->
          <div class="card mb-4">
              <img class="card-img-top" src="{{post.image.url}}" alt="{{ post.name}}" title="{{ post.name }}">
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}e</h2>
              <p class="card-text">{{ post.resume}}</p>
              <a href="{% url 'post_detail' post.pk%}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{ post.pub_date | date:"d/m/Y H:i"}}
                {% if post.author.first_name %}
                by
                <a href="#">{{ post.author.first_name }} {{ post.author.last_name}}</a>
                {% endif %}
            </div>
          </div>
    {% endfor %}

        </div>
{% endblock %}

