{% extends "base.html" %}


{% block "main_body" %}

 <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">{{ post.title}}</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">{{ post.author.first_name}} {{ post.author.last_name}}</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on {{ post.pub_date | date:"d/m/Y H:i"}}</p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="{{post.image.url}}" alt="{{ post.name}}" title="{{ post.name }}">

          <hr>

          <!-- Post Content -->
          <p class="lead">{{ post.resume}}</p>

          <p>{{ post.body}}</p>


        </div>
{% endblock %}

            {% block "main_search" %}
            <div class="col-md-4">
                {% block "search" %}
                {% endblock %}

                {% block categories %}
                <!-- Categories Widget -->
              <div class="card my-4">
     <h5 class="card-header">Categories</h5>
 <div class="card-body">
                  <div class="container">
                    <div class="row justify-content-md-start">
                        {% for category in categories %}
                        <div class="col-md-auto">
                            <a class="box shadow" href="{% url 'categoriesPost' category.pk%}">{{category.name}}</a>
                        </div>

                        {% endfor %}
                    </div>
                  </div>

 </div>
 </div>

                {% endblock %}

            </div>
            {% endblock %}